*.js   whitespace=indent,trail,space filter=tabtospace
*.css  whitespace=indent,trail,space filter=tabtospace
*.html whitespace=indent,trail,space filter=tabtospace
*.py   whitespace=indent,trail,space filter=tabtospace
*.php  whitespace=indent,trail,space filter=tabtospace
*.sh   whitespace=indent,trail,space filter=tabtospace
*.md   whitespace=indent,trail,space filter=tabtospace
